* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 100vh; 
    margin: 0;
    overflow: hidden;
}

.navbar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.navbar__menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__item {
    text-align: center;
    border: 2px solid #333;
    padding: 10px;
}

.navbar__links,
.logo {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
    font-size: 24px;
    margin-right: 0px;
    margin-bottom: 20px;
}

.page-title {
    text-align: center;
    font-size: 12px;
    margin-top: 0px; 
}

.rectangle-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}

.left-rectangles,
.right-rectangles {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 10px;
}

.rectangle {
    background-color: #ddd;
    padding: 80px;
    margin-top: 20px;
    bottom: 30px; 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.rectangle__label {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    position: absolute;
    top: 15px; 
    left: 15px; 
    text-align: left;
    margin: 0;
}

.rectangle__box {
    font-size: 12px;
    color: #333;
    position:absolute;
    left: 15px;
}

.rectangle5 {
    padding-top: 10px; 
}

.rectangle5 .rectangle__box:nth-child(3) {
    top: 45px 
}

.rectangle5 .rectangle__box:nth-child(4) {
    top: 65px
}

.rectangle5 .rectangle__box:nth-child(5) {
    top: 85px 
}

.rectangle5 .gauge-bar {
    margin-top: 110px; 
}

.rectangle5 .gauge-minmax2st {
    top: 120px; 
}

.rectangle__box:nth-child(2) {
    top: 40px;
}

.rectangle__box:nth-child(3) {
    top: 65px;
}

.value-red {
    color: #ff0000;
}

.gauge-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border: 1px solid #000;
    position: relative;
    margin-top: 10px;
}

.gauge-minmax1st,
.gauge-minmax2st {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: #333;
    margin: 0 30px;
    position: absolute;
    top: 90px; 
    left: 0;
    right: 0;
}

.min,
.max {
    font-weight: bold;
}

.gauge-fill {
    height: 100%;
    width: 0;
    background-color: #000;
    position: absolute;
}

.update-time {
    margin-top: 10px;
    text-align: right;
    color: #777;
    font-size: 12px;
    margin-right: 20px;
}

.navbar__links:hover {
    color: #ff0000;
}
